#myProgress {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
}

.progress-wrapper {
  position: relative;
}

#progress-bar {
  height: 100%;
}

.progress-inner {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
}

.inner-column {
  width: 50%;
  height: 100%;
}

.edit-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  h1 {
    font-size: 2rem;
    color: rgb(75, 70, 70);
    margin: 0;
    padding: 0;
  }
}

.name-row {
  padding: 0 1rem;
  h5 {
    font-size: 16px;
    color: rgb(75, 70, 70);
    font-weight: bold;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
}

.freq-row {
  font-weight: 700;
  color: rgb(80, 80, 80);
  padding: 0 1rem;
}

.edit-button {
  display: flex;
  width: auto;
  justify-content: flex-end;
  position: absolute;
}
