#myProgress {
  height: 50px;
  margin-bottom: 10px;
}

#progress-bar {
}

.progress-inner {
  padding-left: 10px;
}

.name-row {
  font-size: 16px;
  color: rgb(70, 70, 70);
  font-weight: bold;
}

.freq-row {
  font-weight: 700;
  color: rgb(80, 80, 80);
}
